*{ padding: 0;
    margin:0;
    font-family: 'Times New Roman';
 
 }
 form{
     padding: 50px 20px;
     background-color: #ededed;
     margin: calc(25% + 100px);
     margin-top:70px;
     padding-top: 28px;
     margin-bottom: 30px;
 }
 /*Estilo para el fomulario*/
 
 h1{
     text-align: center;
     padding: 12px;
     color: orange;
 }
 h2{
    text-align: center;
    padding: 12px;
    color: orange;
}
 /*Estilo para los principales titulo de la pagina*/
 input{
     width: calc(100%-20px);
     padding: 9px;
     margin:auto;
     margin-top:12px;
     font-size: 16px
 }
 input[type='submit']{
     background-color:rgb(252, 199, 102);
     color:#fff;
     width:calc(80% - 20px);
     margin:0 10%;
     margin-top: 22px;
     border:none;
 }
  /*Estilo para el boton de enviar*/
 .bad{
    text-align: center;
    width: 100%;
    padding:12px;
    background-color: rgb(233, 141, 141) ;
    color:#fff
}
 
